*~

/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.css
/doc/*.html
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.js
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/*.txt

/doc/simpcomp.xml

/aclocal.m4
/autom4te.cache/
/bin/
/bistellar
/config.log
/config.status
/configure
/depcomp
/install-sh
/Makefile
/Makefile.in
/missing
/src/.deps/
/src/*.o

/gh-pages/
/tmp/
