# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.gd text
*.gi text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.scb binary

*~ export-ignore
.* export-ignore
doc/gapdoc/**/* export-ignore
doc/gapdoc export-ignore
doc/simpcomp.aux export-ignore
doc/simpcomp.bbl export-ignore
doc/simpcomp.blg export-ignore
doc/simpcomp.brf export-ignore
doc/simpcomp.idx export-ignore
doc/simpcomp.ilg export-ignore
doc/simpcomp.ind export-ignore
doc/simpcomp.log export-ignore
doc/simpcomp.out export-ignore
doc/simpcomp.pnr export-ignore
doc/simpcomp.toc export-ignore
/autom4te.cache/ export-ignore
/bin/ export-ignore
/bistellar export-ignore
/config.log export-ignore
/config.status export-ignore
/Makefile export-ignore
/src/.deps/ export-ignore
/src/*.o export-ignore
/gh-pages/ export-ignore
/tmp/ export-ignore
/internal/ export-ignore

# as requested by gap people
#/aclocal.m4 export-ignore
#/configure export-ignore
#/depcomp export-ignore
#/install-sh export-ignore
#/Makefile.in export-ignore
#/missing export-ignore

